@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    margin:0 auto;
    max-width:40em;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:1.4em;
    font-size:18px;
    background:#d36272;
}

body:after {
    content:"";
    width:calc(50% - 20em);
    min-width:100px;
    height:100%;
    position:fixed;
    top:0;
    left:calc(50% + 20em);
    background-color:#fff;
    background-image:url(images/halftonetexture.png);
    background-repeat:repeat-y;
    background-position:right;
    background-size:50%;
}

body:before {
    content:"";
    width:calc(50% - 20em);
    min-width:100px;
    height:100%;
    position:fixed;
    top:0;
    right:calc(50% + 20em);
    background-image:url(images/halftonetexturewhite.png);
    background-repeat:repeat-y;
    background-position:left;
    background-size:50%;
}

section {
    background:#fff;
}

h1, h2, h3 {
    letter-spacing:1px;
    line-height:1em;
}

h1, h2 {
    border-right:4px solid #B94959;
    border-bottom:4px solid #B94959;
    font-family:"Oswald";
    padding: 1.4em 5% .5em;
    text-align:right;
    text-transform:uppercase;
    /*color:#B94959;*/
    color:#fff;
}

h1 {
    font-weight:700;
    font-size:4em;
    text-align:right;
    padding-top:0.5em;
    margin:0;
}

h2 {
    font-size:1.8em;
    font-weight:normal;
}

h3 {
    margin:1em 0 0.5em;
    font-size:1.4em;
    font-family:"Oswald";
    font-weight:normal;
}

nav {
    border-right:4px solid #B94959;
    text-align:right;
    padding-top:1em;
    margin:0;
}

nav ul, footer ul {
    list-style-type:none;
    margin-right:2em
}

nav li, footer li {
    display:inline-block;
    margin:0 5px;
}

nav li a, footer li a {
    color:#fff;
    opacity:0.6;
}

nav li a:hover, footer li a:hover {
    opacity:1;
}

section h3:first-child {
    margin-top:0;
}

section {
    border-left:4px solid #B94959;
    border-bottom:4px solid #B94959;
    padding: 2em 5%;
}


.banddesc {
    max-height:0;
    overflow:hidden;
    transition:max-height 1s ease-in-out;
    margin-bottom:0;
    margin-bottom:1em;
}

.band:hover .banddesc {
    max-height:400px;
}


.bandhead {
    position:relative;
    width:100%;
    height:160px;
    margin-bottom:0.5em;
}

.bandhead img {
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.bandhead h3 {
    position:absolute;
    margin:0;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:2em;
    text-align:center;
    color:#fff;
}

a {
    text-decoration:none;
    color:#B94959;
}

a h3 {
    text-align:center;
    border:4px solid #B94959;
    border-top:0px;
    padding: 2% 5%;
    font-family:"Oswald";
    margin:0;
    color:#B94959;
    text-decoration:none;
    font-weight:400;
    background:#fff;
}

a h3:hover {
    background:#B94959;
    color:#fff;
}

p {
    margin-bottom:1em;
    line-height:1.5em;
}

p:last-child {
    margin-bottom:0;
}

ul {
    margin-left:1.2em;
}


table {
    width:100%;
    margin:1em 0;
    border-collapse:collapse;
}



th, td {
    padding:0.5%;
    border-bottom:1px solid #B94959;
    text-align:center;
}

td {
    font-size:0.8em;
}

th {
    font-family:"Oswald";
    font-weight:700;
}

tr:hover {
    background-color:#F29B88;
}

td:hover {
    background-color:#B94959;
    color:#fff;
}


footer {
    border-right:4px solid #B94959;
    text-align:right;
    padding:1em 0;
    font-size:12px;
}


footer p {
    padding: 0 2.2em 0;
    color:#fff;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


