@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    height:100%;
    font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    height:50%;
    width:100%;
    position:relative;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fafdff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#fafdff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#fafdff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafdff',GradientType=0 ); /* IE6-9 */
}

#logo {
    position:absolute;
    width:80%;
    height:80%;
    top:10%;
    left:10%;
    right:10%;
    bottom:10%;
    display:block;
    background-image:url('images/Logo@3x.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

nav {
    border-bottom:1px solid #eaedef;
    border-top:1px solid #eaedef;
    text-align:center;
}

nav a {
    display:inline-block;
    line-height:3em;
    padding: 0 1em;
    margin:0;
    color:#999999;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s all;
    font-size:1.2em;
}

nav a:hover {
    color:#7dcaea;
    background:#eef3f6;
    text-decoration:None;
}


.content {
    max-width:70em;
    margin:1em auto 0;
}

.row {
    margin:1em 0;
}

h1, h2, h3 {
    text-align:center;
    font-weight:100;
    text-transform:uppercase;
}

h3 {
    font-size:1.5em;
}

.motto {
    height:200%;
}

.motto h2 {
    line-height:1.4em;
    margin-top:2em;
    text-align:Center;
    text-transform:none;
    font-weight:regular;
}

.motto h2 strong {
    color:#7dcaea;
}

.motto h2 strong:nth-of-type(3n) {
    color:#7cbc64;
}

a {
    color:#7dcaea;
    font-weight:bold;
    transition:0.5s all;
}

a:hover {
    text-decoration:none;
}

a.button {
    display:inline-block;
    background-color:#7dcaea;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    padding:0.5em 1em;
    margin:0.5em auto;
    text-align:center;
    font-weight:bold;
    transition:0.5s all;
}

a.button:hover {
    opacity:0.8;
}

.col-xs-6 p {
    text-align:justify;
    hyphens:auto;
}

ul {
    margin-left:2em;
}

.row img {
    width:100%;
}

.question h3 {
    text-align:right;
    line-height:1.4em;
    margin-top:0;
    margin-right:1em;
}

.question h3 strong {
    color:#7dcaea;
}



.shopitem {
    /*float:left;
    width:48%;*/
    margin-bottom:5%;
    text-align:center;
}

.shopitem img {
    width:100%;
    min-height:15em;
    background:#eee;
    object-fit:cover;
}

.shopitem h4 {
    font-size:1.6em;
    margin-bottom:0.3em;
}

.price {
    color:#7cbc64;
    font-weight:bold;
    font-size:1.4em;
    margin-top:0.3em;
}




/* blog stuff */

a h2, a h3 {
    color:#333;
}

.blog {
    margin-bottom:2em;
}

.blog h2 {
    font-size:2.6em;
}

.blog h2, .blog h3 {
    text-align:center;
    font-weight:100;
    text-transform:uppercase;
}

.blog h3 {
    margin-top:0;
    font-size:1.5em;
}

.blog .blogside {
    float:left;
    color:#999;
    width:20%;
    margin-right:2em;
    margin-bottom:2em;
    font-style:italic;
    text-align:right;
    font-size:0.9em;
}

.blogside span {
    display:block;
}

.blogbody ul, .blogbody ol {
    font-size:1.1em;
    line-height:1.6em;
    margin:1em 2em;
}

.blogbody p {
    font-size:1.1em;
    line-height:1.6em;
}

.blogbody img {
    display:block;
    width:auto;
    max-width:100%;
    margin:1em auto;
    max-height:40em;
}


footer {
    border-top:1px solid #eaedef;
    font-size:1.4em;
    text-align:center;
    line-height:2em;
}

footer ul {
    list-style-type:None;
}

footer li {
    display:inline-block;
    width:2.1em;
    height:2.1em;
    border-radius:2em;
    background:#eee;
    color:#999;
    margin:1em 0.3em;;
    cursor:pointer;
}